<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.financial.mapper.AffairMapper">

    <resultMap type="Affair" id="AffairResult">
        <result property="id"    column="id"    />
        <result property="facultyId"    column="faculty_id"    />
        <result property="name"    column="name"    />
        <result property="month"    column="month"    />
        <result property="des"    column="des"    />
        <result property="hour"    column="hour"    />
    </resultMap>

    <sql id="selectAffairVo">
        select id, faculty_id, name, month, des, hour from affair
    </sql>

    <select id="selectAffairList" parameterType="Affair" resultMap="AffairResult">
        <include refid="selectAffairVo"/>
        <where>
            <if test="facultyId != null "> and faculty_id = #{facultyId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="month != null "> and month = #{month}</if>
            <if test="des != null  and des != ''"> and des = #{des}</if>
            <if test="hour != null "> and hour = #{hour}</if>
        </where>
    </select>

    <select id="selectAffairById" parameterType="Long" resultMap="AffairResult">
        <include refid="selectAffairVo"/>
        where id = #{id}
    </select>

    <insert id="insertAffair" parameterType="Affair" useGeneratedKeys="true" keyProperty="id">
        insert into affair
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="facultyId != null">faculty_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="month != null">month,</if>
            <if test="des != null and des != ''">des,</if>
            <if test="hour != null">hour,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="facultyId != null">#{facultyId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="month != null">#{month},</if>
            <if test="des != null and des != ''">#{des},</if>
            <if test="hour != null">#{hour},</if>
         </trim>
    </insert>

    <update id="updateAffair" parameterType="Affair">
        update affair
        <trim prefix="SET" suffixOverrides=",">
            <if test="facultyId != null">faculty_id = #{facultyId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="month != null">month = #{month},</if>
            <if test="des != null and des != ''">des = #{des},</if>
            <if test="hour != null">hour = #{hour},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateAffairNameByFacultyId" parameterType="Affair">
        update affair
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},
            </if>
        </trim>
        where faculty_id = #{facultyId}
    </update>

    <delete id="deleteAffairById" parameterType="Long">
        delete from affair where id = #{id}
    </delete>

    <delete id="deleteAffairByIds" parameterType="String">
        delete from affair where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteAffairByFacultyIds">
        delete from affair where faculty_id in
        <foreach item="facultyId" collection="array" open="(" separator="," close=")">
            #{facultyId}
        </foreach>
    </delete>
</mapper>
