<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rk.financial.mapper.PayDetailMapper">

    <resultMap type="PayDetail" id="PayDetailResult">
        <result property="facultyId"    column="faculty_id"    />
        <result property="name"    column="name"    />
        <result property="month"    column="month"    />
        <result property="teacherPay"    column="teacher_pay"    />
        <result property="staffPay"    column="staff_pay"    />
        <result property="extraTeacherPay"    column="extra_teacher_pay"    />
        <result property="totalPay"    column="total_pay"    />
        <result property="tax"    column="tax"    />
        <result property="housing"    column="housing"    />
        <result property="insurance"    column="insurance"    />
        <result property="netPay"    column="net_pay"    />
    </resultMap>

    <sql id="selectPayDetailVo">
        select faculty_id, name, month, teacher_pay, staff_pay, extra_teacher_pay, total_pay, tax, housing, insurance, net_pay from faculty_monthly
    </sql>

    <select id="selectPayDetailList" parameterType="PayDetail" resultMap="PayDetailResult">
        <include refid="selectPayDetailVo"/>
        <where>
            <if test="facultyId != null "> and faculty_id = #{facultyId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="month != null "> and month = #{month}</if>
            <if test="teacherPay != null "> and teacher_pay = #{teacherPay}</if>
            <if test="staffPay != null "> and staff_pay = #{staffPay}</if>
            <if test="extraTeacherPay != null "> and extra_teacher_pay = #{extraTeacherPay}</if>
            <if test="totalPay != null "> and total_pay = #{totalPay}</if>
            <if test="tax != null "> and tax = #{tax}</if>
            <if test="housing != null "> and housing = #{housing}</if>
            <if test="insurance != null "> and insurance = #{insurance}</if>
            <if test="netPay != null "> and net_pay = #{netPay}</if>
        </where>
    </select>

    <select id="selectPayDetailByFacultyId" parameterType="Long" resultMap="PayDetailResult">
        <include refid="selectPayDetailVo"/>
        where faculty_id = #{facultyId}
    </select>

    <select id="selectPayDetailByFacultyIdAndMonth" parameterType="PayDetail" resultMap="PayDetailResult">
        <include refid="selectPayDetailVo"/>
        where faculty_id = #{facultyId} and month = #{month}
    </select>

    <insert id="insertPayDetail" parameterType="PayDetail">
        insert into faculty_monthly
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="facultyId != null">faculty_id,</if>
            <if test="name != null">name,</if>
            <if test="month != null">month,</if>
            <if test="teacherPay != null">teacher_pay,</if>
            <if test="staffPay != null">staff_pay,</if>
            <if test="extraTeacherPay != null">extra_teacher_pay,</if>
            <if test="totalPay != null">total_pay,</if>
            <if test="tax != null">tax,</if>
            <if test="housing != null">housing,</if>
            <if test="insurance != null">insurance,</if>
            <if test="netPay != null">net_pay,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="facultyId != null">#{facultyId},</if>
            <if test="name != null">#{name},</if>
            <if test="month != null">#{month},</if>
            <if test="teacherPay != null">#{teacherPay},</if>
            <if test="staffPay != null">#{staffPay},</if>
            <if test="extraTeacherPay != null">#{extraTeacherPay},</if>
            <if test="totalPay != null">#{totalPay},</if>
            <if test="tax != null">#{tax},</if>
            <if test="housing != null">#{housing},</if>
            <if test="insurance != null">#{insurance},</if>
            <if test="netPay != null">#{netPay},</if>
         </trim>
    </insert>

    <update id="updatePayDetail" parameterType="PayDetail">
        update faculty_monthly
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="teacherPay != null">teacher_pay = #{teacherPay},</if>
            <if test="staffPay != null">staff_pay = #{staffPay},</if>
            <if test="extraTeacherPay != null">extra_teacher_pay = #{extraTeacherPay},</if>
            <if test="totalPay != null">total_pay = #{totalPay},</if>
            <if test="tax != null">tax = #{tax},</if>
            <if test="housing != null">housing = #{housing},</if>
            <if test="insurance != null">insurance = #{insurance},</if>
            <if test="netPay != null">net_pay = #{netPay},</if>
        </trim>
        where faculty_id = #{facultyId} and month = #{month}
    </update>

    <delete id="deletePayDetailByFacultyId" parameterType="Long">
        delete from faculty_monthly where faculty_id = #{facultyId}
    </delete>

    <delete id="deletePayDetailByFacultyIds" parameterType="String">
        delete from faculty_monthly where faculty_id in
        <foreach item="facultyId" collection="array" open="(" separator="," close=")">
            #{facultyId}
        </foreach>
    </delete>
</mapper>
