<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.financial.mapper.PayMapper">

    <resultMap type="Pay" id="PayResult">
        <result property="facultyId"    column="faculty_id"    />
        <result property="name"    column="name"    />
        <result property="month"    column="month"    />
        <result property="netPay"    column="net_pay"    />
    </resultMap>

    <sql id="selectPayVo">
        select faculty_id, name, month, net_pay from faculty_monthly
    </sql>

    <select id="selectPayList" parameterType="Pay" resultMap="PayResult">
        <include refid="selectPayVo"/>
        <where>
            <if test="facultyId != null "> and faculty_id = #{facultyId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="month != null "> and month = #{month}</if>
            <if test="netPay != null "> and net_pay = #{netPay}</if>
        </where>
    </select>

    <select id="selectPayByFacultyId" parameterType="Long" resultMap="PayResult">
        <include refid="selectPayVo"/>
        where faculty_id = #{facultyId}
    </select>

    <insert id="insertPay" parameterType="Pay">
        insert into faculty_monthly
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="facultyId != null">faculty_id,</if>
            <if test="name != null">name,</if>
            <if test="month != null">month,</if>
            <if test="netPay != null">net_pay,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="facultyId != null">#{facultyId},</if>
            <if test="name != null">#{name},</if>
            <if test="month != null">#{month},</if>
            <if test="netPay != null">#{netPay},</if>
         </trim>
    </insert>

    <update id="updatePay" parameterType="Pay">
        update faculty_monthly
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="month != null">month = #{month},</if>
            <if test="netPay != null">net_pay = #{netPay},</if>
        </trim>
        where faculty_id = #{facultyId}
    </update>

    <delete id="deletePayByFacultyId" parameterType="Long">
        delete from faculty_monthly where faculty_id = #{facultyId}
    </delete>

    <delete id="deletePayByFacultyIds" parameterType="String">
        delete from faculty_monthly where faculty_id in
        <foreach item="facultyId" collection="array" open="(" separator="," close=")">
            #{facultyId}
        </foreach>
    </delete>
</mapper>
