<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.financial.mapper.TitleMapper">

    <resultMap type="Title" id="TitleResult">
        <result property="id"    column="id"    />
        <result property="des"    column="des"    />
        <result property="factor"    column="factor"    />
    </resultMap>

    <sql id="selectTitleVo">
        select id, des, factor from title
    </sql>

    <select id="selectTitleList" parameterType="Title" resultMap="TitleResult">
        <include refid="selectTitleVo"/>
        <where>
            <if test="des != null  and des != ''"> and des = #{des}</if>
            <if test="factor != null "> and factor = #{factor}</if>
        </where>
    </select>

    <select id="selectTitleById" parameterType="Long" resultMap="TitleResult">
        <include refid="selectTitleVo"/>
        where id = #{id}
    </select>

    <insert id="insertTitle" parameterType="Title" useGeneratedKeys="true" keyProperty="id">
        insert into title
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="des != null and des != ''">des,</if>
            <if test="factor != null">factor,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="des != null and des != ''">#{des},</if>
            <if test="factor != null">#{factor},</if>
         </trim>
    </insert>

    <update id="updateTitle" parameterType="Title">
        update title
        <trim prefix="SET" suffixOverrides=",">
            <if test="des != null and des != ''">des = #{des},</if>
            <if test="factor != null">factor = #{factor},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTitleById" parameterType="Long">
        delete from title where id = #{id}
    </delete>

    <delete id="deleteTitleByIds" parameterType="String">
        delete from title where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
